---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <p class="text-lg leading-relaxed text-slate-500">
        We provide access and resources for students looking to get involved in their community. Created by high school students, StudentServe understands the importance of volunteering -- which is why we created a simple-to-use platform for volunteers and organizations to get connected. Search volunteer opportunities near you, find resources, and more.
      </p>
      <h2 class="font-bold text-3xl text-gray-800">
        How it works
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        If you're a student, you can simply register to view available volunteer opportunities near you using your school-issued email. Once you've found where you want to get involved, simply apply to join on our platform and await your response!<br><br>For organizations looking for volunteers, fill out the short <a>registration form</a> and we'll do the rest. Your organization's listings will appear on our platform-- 100% free.
      </p>
    </div>
  </Container>
</Layout>
