---
import { Picture } from "astro:assets";
import heroImage from "assets/Charity.png";
import Link from "@components/ui/link.astro";
import Button from "@components/ui/button.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Driving student success through passion & service 
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      StudentServe connects passionate high school students with local volunteer organizations to get involved. Launching in the San Francisco Bay Area in 2024.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        size="lg"
        style="primary"
        rel="noopener"
        href="/listings/"
        class="flex gap-1 items-center justify-center">
      <Icon class="text-white w-5 h-5" name="bx:timer" />
        Volunteer Now
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/listings/studentserve-marketing-director"
        class="flex gap-1 items-center justify-center">
        <Icon class="text-black w-4 h-4" name="bx:code" />
         Work with us
      </Link>
    </div>
  </div>

  <!--
  <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <h3 class="text-lg font-bold">Volunteer listings unavailable...</h3>
      <p class="py-4">StudentServe plans to fully release the volunteer listing platform late 2024.</p>
      <div class="modal-action">
        <form method="dialog">
          if there is a button in form, it will close the modal
          <button class="btn">Close</button>
        </form>
      </div>
    </div>
  </dialog>
 -->
</main>